/* reset*/ 
html, body, div, h1, p, a, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, .button {
	background-color: hsl(0, 0%, 95%);
}

.wrapper, .attribution {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper {
 height: 35vw;
 width: 65vw;
 top: 50%;
 display: flex;
	overflow: hidden;
	border-radius: 10px;
}

.container {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-between;
	padding: 5%;
}

.sedan-container {
 background-color: hsl(31, 77%, 52%);
}

.suv-container {
 background-color: hsl(184, 100%, 22%);
}

.luxury-container {
 background-color: hsl(179, 100%, 13%);
}

.header {
	color: hsl(0, 0%, 95%);
	text-transform: uppercase;
	font-family: 'Big Shoulders Display', cursive;
	font-size: 45px;
}

.text, .button{
	color: hsla(0, 0%, 100%, 0.75);
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

.button {
	width: 150px;
	height: 45px;
	border-radius: 30px;
	border: 2px solid hsla(0, 0%, 100%, 0.75);
	margin-top: 30%;
}

.button:hover {
	color: hsla(0, 0%, 100%, 0.75);
}

.sedan-button {
	color: hsl(31, 77%, 52%);
}

.sedan-button:hover {
	background-color: hsl(31, 77%, 52%);
}

.suv-button {
	color: hsl(184, 100%, 22%);
}

.suv-button:hover {
	background-color:  hsl(184, 100%, 22%);
}

.luxury-button {
	color: hsl(179, 100%, 13%);
}

.luxury-button:hover {
	background-color: hsl(179, 100%, 13%);
}

@media only screen and (orientation: portrait) {
	.wrapper {
		width: 40vh;
		height: 80vh;
		display: flex;
		flex-direction: column;
		overflow: auto
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 15%;
	}

	.icon {
		margin-bottom: 8%;
	}

	.header {
		font-size: 30px;
		margin-bottom: 5%;
	}

	.text .button {
		font-size: 10px
	}

	.button {
		width: 125px;
		height: 40px;
		margin-top: 8%;
	}
}

.attribution { 
	font-size: 11px; 
	text-align: center;
	bottom: 3vh;
}
.attribution a { color: hsl(228, 45%, 44%); }