/* reset*/ 
html, body, div, h1, p, a, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	height: 100vh;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 50px;
	box-sizing: border-box;
}

body, .button {
	background-color: hsl(0, 0%, 95%);
}

.wrapper {
 height: 450px;
 width: 800px;
 display: flex;
	overflow: hidden;
	border-radius: 10px;
}

.container {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
}

.sedan-container {
 background-color: hsl(31, 77%, 52%);
}

.suv-container {
 background-color: hsl(184, 100%, 22%);
}

.luxury-container {
 background-color: hsl(179, 100%, 13%);
}

.header {
	color: hsl(0, 0%, 95%);
	text-transform: uppercase;
	font-family: 'Big Shoulders Display', cursive;
	font-size: 35px;
	margin: 5px 0 20px 35px;
}

.icon {
	width: 55px;
	margin: 5px 0 20px 35px;
}

.text, .button{
	color: hsla(0, 0%, 100%, 0.75);
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	line-height: 1.7;
}

.text {
	margin: 5px 35px 20px 35px;
	height: 150px;
}

.button {
	width: 140px;
	height: 45px;
	border-radius: 30px;
	border: 2px solid hsla(0, 0%, 100%, 0.75);
	margin: 20px auto 20px 35px;
}

.button:hover {
	color: hsla(0, 0%, 100%, 0.75);
}

.sedan-button {
	color: hsl(31, 77%, 52%);
}

.sedan-button:hover {
	background-color: hsl(31, 77%, 52%);
}

.suv-button {
	color: hsl(184, 100%, 22%);
}

.suv-button:hover {
	background-color:  hsl(184, 100%, 22%);
}

.luxury-button {
	color: hsl(179, 100%, 13%);
}

.luxury-button:hover {
	background-color: hsl(179, 100%, 13%);
}

/* max-width: 1000px - landscape*/
@media only screen and (max-width: 1000px) {
	.wrapper {
		height: 300px;
		width: 500px;
	}

	.icon {
		width: 40px;
		margin: 5px auto 10px 15px;;
	}

	.header {
		font-size: 25px;
		margin: 5px auto 10px 15px;
	}

	.text {
		font-size: 12px;
		line-height: 1.4;
		height: 90px;
		margin: 5px 15px 10px 15px;
	}

	.button {
		font-size: 12px;
		width: 100px;
		height: 30px;
		margin: 25px auto 10px 15px;
	}
}

/* phone - portrait - 375px */
@media only screen and (orientation: portrait) {
	body {
		height: auto;
		padding: 10px 15px;
	}

	.wrapper {
		margin: 30px;
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		overflow: scroll;
	}

	.container {
		flex-direction: column;
	}

	.icon {
		margin: 40px auto 20px 30px;
		width: 55px;
	}

	.header {
		font-size: 30px;
		margin: 10px auto 20px 30px;
	}

	.text .button {
		font-size: 12px;
		line-height: 1.7;
	}

	.text {
		margin: 10px 30px 30px 30px;
		height: 60px;
	}

	.button {
		width: 125px;
		height: 40px;
		margin: 30px auto 30px 30px;
	}
}

.attribution { 
	font-size: 11px; 
	text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }